#bookDetails,
#bookForm {
  margin-bottom: 80px;
}

#bookCover {
  display: block;
  width: 350px;
  margin: 20px auto;
}

#bookForm #bookAbstract {
  margin-top: 30px;
}

.navbar .btn,
.navbar .nav-link {
  margin-left: 10px;
}

.navbar .nav-link.active {
  color: white !important;
}

#filterInfo {
  margin: 30px 80px;
  display: flex;
}

#filterInfo img {
  margin: 0 30px 0 0;
  min-width: 250px;
  max-width: 250px;
  align-self: center;
}

#filterInfo #filterContent {
}

#filterInfo #filterContent a {
  margin: 10px 0px 20px 0px;
  display: block;
}

.dv-star-rating {
  margin-right: 10px;
}

.dv-star-rating label {
  margin-bottom: -5px;
}
