#bookDetails,
#bookForm {
  margin-bottom: 80px;
}

#bookCover {
  display: block;
  width: 350px;
  margin: 20px auto;
}

#bookForm #bookAbstract {
  margin-top: 30px;
}

.navbar .btn,
.navbar .nav-link {
  margin-left: 10px;
}

.navbar .nav-link.active {
  color: white !important;
}

#filterInfo {
  margin: 30px 80px;
  display: flex;
}

#filterInfo img {
  max-height: 250px;
  margin: 0 30px 0 0;
}

#filterInfo #filterContent {
}

#filterInfo #filterContent a {
  margin: 10px 0px 20px 0px;
  display: block;
}
