<html>
    <head>
        <link th:href="@{/css/bookshelf.css}" rel="stylesheet" />
    </head>
    <body>

        <div th:switch="${books}">
            <h2 th:case="null">No books yet!</h2>
            <div th:case="*">
                <h2>Books</h2>
                <div class="book_shelf">
                    <div class="book" th:each="book : ${books}">
                        <img loading="lazy" class="cover" th:src="@{/book/{id}/cover(id=${book.id})}" />
                        <div th:text="${book.title}"></div>
                        <div th:text="${book.category.name}"></div>
                        <div th:text="${book.author}"></div>
                        <div th:text="${book.year}"></div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
0
