<div class="row">
  <div class="col-md-12">

    <h2 class="pull-left">Editing category</h2>
    
    <ul class="nav nav-pills pull-right" style="margin-top: 1em">
      <li>
        <%= link_to 'Show', @category %> 
      </li>
      <li>
        <%= link_to 'Back', categories_path %>
      </li>
    </ul>
  </div>
</div>

<%= render 'form' %>
